{% extends 'mainapp/base.html' %}
{% load static %}

{% block title %}{{ selected_category.0.name | title }}{% endblock title %}


{% block menu %}
		<div class="hero-white">
			{% include 'mainapp/includes/inc_menu.html' %}
		</div>
{% endblock menu %}

{% block content %}
    <div class="details">
        <div class="links clearfix">
            {% include 'mainapp/includes/inc_categories_menu.html' %}
        </div>
        
        <div class="details-products">
            <div class="details-slider">
                <div class="tab-content">
                    
                    {% for product in products %}
                        <div class="block">
                            <a href="#"><img src="/media/{{ product.image }}" alt="">
								<div class="text">
                                    <h4>{{product.short_desc}}</h4>
                                </div>

							</a>
                            
						</div>
                        <p> {{product.description}}
                    {% endfor %}

                    </div>
            </div>
        </div>
    </div>
                
{% endblock content %}

