{% extends 'mainapp/base.html' %}
{% load static %}

{% block title %}{{ selected_category.name | title }}{% endblock title %}

{% block menu %}
  <div class="hero-white">
    <div class="header clearfix">
      {% include 'mainapp/includes/inc_menu.html' %}
    </div>
  </div>
{% endblock %}

{% block content %}
  <div class="details">
    <div class="links clearfix">
      {% include 'mainapp/includes/inc_categories_menu.html' %}
    </div>

    <div class="products_list">
      <div class="title clearfix">
        <h2>
          Категория: "{{ selected_category.name|title }}"
        </h2>
        
      </div><br>
      <div class="category-products clearfix">

        {% for product in products %}
          <div class="block">
            <a href="{% url 'products:product' product.pk %}">
              <img src="/media/{{ product.image }}" alt="product">
            </a>
            <div class="text">
                
                <h2>{{ product.name|title }}</h2>
                <h3>Цена: {{ product.price }}</h3>
                <p>{{ product.description }}</p>
                <a href="{% url 'products:product' product.pk %}">
                  <img src="{% static 'img/icon-hover.png' %}" alt="hover">
                </a>
            </div>
            
            <a href="{% url 'basket:add' product.pk %}" class="basket-button">
              добавить в корзину <i class="fa fa-chevron-right" aria-hidden="true"></i>
            </a>
          </div>
        {% endfor %}
        <div class="paginator">
          {% if products.has_previous %}
              <a href="{% url 'products:page' selected_category.id products.previous_page_number %}">
              <
              </a>
          {% endif %}
          <span class="current">
              страница {{ products.number }} из {{ products.paginator.num_pages }}
          </span>
          {% if products.has_next %}
              <a href="{% url 'products:page' selected_category.id products.next_page_number %}">
              >
              </a>
          {% endif %}
          
      </div>

      </div>
    </div>
  </div>

  <div class="clr"></div>

{% endblock %}

