{% extends 'mainapp/base.html' %}
{% load static %}

{% block title %}{{ title | title}}{% endblock title %}


{% block menu %}
		<div class="hero-white">
			{% include 'mainapp/includes/inc_menu.html' %}
		</div>
{% endblock menu %}

{% block content %}
		<div class="details">
			<div class="links clearfix">
				{% include 'mainapp/includes/inc_categories_menu.html' %}
			</div>

			<div class="details-products">
				<div class="details-slider">
					<div class="slider-product">
						<img src="/media/{{ hot_product.image }}">
					</div>
					<div class="slider-control">
						<div class="block">
							<a href="#"><img src="/media/{{ hot_product.image }}" alt="">
								<div class="text"></div>
							</a>
						</div>
						<div class="block">
							<a href="#"><img src="/media/{{ hot_prodict.image }}" alt="">
								<div class="text"></div>
							</a>
						</div>
						<div class="block">
							<a href="#"><img src="/media/{{ hot_prodict.image }}" alt="">
								<div class="text"></div>
							</a>
						</div>
					</div>
				</div>

				<div class="description">
					<h3 class="big-bold">{{ hot_product.name }}</h3>
					<h3 class="red">горячее предложение</h3>
					<p class="price">{{ hot_product.price }}<span>руб</span></p>
					<a href="{% url 'basket:add' hot_product.pk %}" class="red-button">
						заказать <i class="fa fa-chevron-right" aria-hidden="true"></i>
					</a>
					<div class="description-text">
						<p>{{ hot_product.short_desc }}</p>
						<p>Отличное качество материалов.</p>
						<p>{{ hot_product.description }}</p>
						<p>высочайший уровень
							эргономики и прочность.</p>
					</div>
				</div>
			</div>

			<div class="related">
				<div class="title clearfix">
					<h2>Похожие продукты</h2>
					<a class="explore" href="#">показать все <img src="{% static 'img/arrow.png' %}" alt=""></a>
				</div>
				<div class="related-products clearfix">
					{% include 'mainapp/includes/inc_same_products.html' %}

				</div>
			</div>
		</div>

		<div class="clr"></div>

{% endblock content %}